/* styles.css */
h1 {
    text-align: center;
    color: darkgreen;
    font-family: "Raleway", sans-serif;
    flex-direction: row;
    ;
}

.img{
  border: 1px;
  height: 10px;
  width: 10%;
  ;
}
@font-face{
  font-family: "Raleway", sans-serif;
}
.container {
    display: flex;
    border: 5px solid white;
    justify-content: space-evenly;
    align-items: center;
    display: flex 100 100 0;
}

div {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    background-color: white ;
    color: darkgreen;
    border:100px
    padding:100px;
    height: 100%;
    display:inline-block;
    font-size: x-large;
    text-align: center;
    flex-direction: row;
    width: 100%;
    align-items: stretch;

}

body {
    background-color: white;
    background-image: url(../images/chevron.webp);
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  display: flex;
  background-color: white;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: grey;
    color: darkgreen;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    text: Enter a Location;
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
    text-align: center;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  h2 {
    text-align: center;
    color: darkgreen;
    font-family: "Raleway", sans-serif;


    font   }

  h3 {
    text-align: center;
    color:darkgreen;
    font-family: "Raleway", sans-serif;
  }

  .button {
    font-size: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    

  }

  .div{
    text-align: center;
    font-size: 10px;
  }

  .p{
    color: darkgreen;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }

  .div{
    text-align: end;
    color: darkgreen;
  }

  .img{
    display flex: right: 100%;
    height: 10px;
    width: 10px;
    text-align: right;
    margin: 100px;
  }